{{- $description :=  .Description | default .Summary | default .Params.subtitle | markdownify | plainify }}
{{- $title := .Title | default .Site.Title }}
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">

{{- with .Site.Params.favicon }}
<link href="{{ . | absURL }}" rel="icon" type="image/x-icon"/>
{{- end -}}

<!-- SEO and social description -->
{{- with $title }}
<title>{{ . }}{{ if ne . $.Site.Title }} &mdash; {{ $.Site.Title }}{{ end }}</title>
<meta property="og:title" content="{{ . }}" />
<meta name="twitter:title" content="{{ . }}" />
{{- end }}
{{- with $description }}
<meta name="description" content="{{ . }}">
<meta property="og:description" content="{{ . }}">
<meta name="twitter:description" content="{{ . }}">
{{- end }}
{{- with (default .Site.Author.key .Params.Author) }}
  {{- $authorName := . }}
  {{- $author := index $.Site.Data.authors . }}
  {{- if $author.displayName }}
    {{- $authorName = $author.displayName | plainify }}
  {{- end }}
<meta name="author" content="{{ $authorName }}" />
  {{- if and (eq $.Kind "page") (eq $.Type "blog") }}
<meta property="article:author" content="{{ $authorName }}" />
<!-- FIXME add author's profile -->
  {{- end }}
  {{- with $author.twitter }}
<meta name="twitter:creator" content="@{{ . }}" />
  {{- end }}
{{- end }}
{{- with .Params.banner }}
  {{- $bannerUrl := default .src .socialSrc }}
  {{- if eq (substr $bannerUrl 0 1) "/" }}
    {{- $bannerUrl = absURL $bannerUrl }}
  {{- else }}
    {{- $bannerUrl = printf "%s%s" $.Page.Permalink $bannerUrl }}
  {{- end }}
<meta property="og:image" content="{{ $bannerUrl }}" />
<meta name="twitter:image" content="{{ $bannerUrl }}" />
  {{- with .alt }}
<meta property="og:image:alt" content="{{ . }}" />
<meta name="twitter:image:alt" content="{{ . }}" />
  {{- end}}
{{- end }}
{{- partial "seo/opengraph.html" . }}
{{- partial "seo/twitter.html" . }}
<!-- FIXME {{ partial "seo/schema.html" }} -->
<!-- Hugo version number -->
{{- hugo.Generator }}
<!-- Mobile goodness -->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- Links and stylesheets -->
<link rel="alternate" href="{{ "index.xml" | absLangURL }}" type="application/rss+xml" title="{{ .Site.Title }}">
{{- $stylesheet := .Site.Data.webpack.main -}}
{{- with $stylesheet.css }}
<link href="{{ relURL . }}" rel="stylesheet">
{{- end }}
<meta name="theme-color" content="#555" />
