<nav id="menu">
  <ul>
    {{ range .Site.Menus.main.ByWeight }}
      <li>
        <a title="{{ default .Name .Title }}" href="{{ .URL  | absLangURL }}">{{ .Name }}</a>
      </li>
    {{ end }}
    {{ if .Site.IsMultiLingual }}
      {{ $home := .Site.Home }}
      {{ range $home.AllTranslations }}
        {{ if not (eq $home.Lang .Lang) }}
          <li>
            <a href="{{ .Permalink }}" lang="{{ .Lang }}" title="{{ default .Lang .Site.Language.LanguageName }}">{{ upper .Lang }}</a>
          </li>
        {{ end }}
      {{ end }}
    {{ end }}
  </ul>
</nav>
