<!DOCTYPE html>
<html lang="{{ .Lang }}" itemscope itemtype="http://schema.org/WebPage">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body id="top">
    {{- partial "menu/top.html" . -}}
    <section id="main" class="{{ replace .Kind "404" "error" }} {{ .Type }}">
    {{- block "main" . }}{{ end -}}
    </section>
    <footer id="foot" class="menu">
    {{- partial "menu/nav.html" . -}}
    {{- partial "footer.html" . -}}
    </footer>
    {{- block "final-script" . }}
      {{- $script := .Site.Data.webpack.main }}
      {{- with $script.js }}
    <script src="{{ relURL . }}" type="text/javascript" async></script>
      {{- end }}
    {{- end }}
  </body>
</html>
