{{ define "main" }}
{{ partial "list/header.html" . -}}

{{ partial "list/metadata.html" . -}}
{{ template "_internal/pagination.html" . -}}

<section class="entries">
{{ range .Paginator.Pages -}}
    <article class="text">
      <a href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>
    {{ partial "pub/meta-lite.html" . -}}
    {{ partial ( printf "%s/summary.html" .Type ) . -}}
    {{ partial ( printf "%s/taxonomies.html" .Type ) . -}}
    </article>
{{ end -}}
</section>

{{ template "_internal/pagination.html" . -}}
{{ partial "list/metadata.html" . -}}
{{ end }}
