{{ define "main" }}
{{ partial "list/header.html" . -}}

<section class="metadata">{{ partial "translation/links.html" . }}</section>

<section class="entries">
{{ range $key, $value := .Data.Terms.ByCount -}}
  <article class="text">
  {{ $termUrl := printf "/%s/%s" $.Data.Plural (urlize $value.Name) -}}
  {{ $termPage := $.Site.GetPage $termUrl -}}
    <h2>{{ default $value.Name $termPage.Title }}</h2>
    <div class="metadata">
      <div class="meta-line">
      {{ partial "utils/icon.html" "clipboard-list" }}&nbsp;
      {{- .Count | i18n "entries" }}
      </div>
    {{ partial "translation/links.html" $termPage }}
    </div>
    <p>{{ $termPage.Description | $.RenderString }}</p>
    <p>
      <a href="{{ $termUrl }}/" class="read-more">{{ i18n "viewAllPubs" $value.Count }}</a>
    </p>
  </article>
{{ end -}}
</section>

<section class="metadata">{{ partial "translation/links.html" . }}</section>
{{ end }}
