{{ define "main" }}
<article class="text" role="main">
  <div class="title">
    <h1>{{ .Title | .RenderString }}</h1>
{{ with .Params.subtitle -}}
    <span class="subtitle">{{ . | .RenderString }}</span>
{{ end -}}
  </div>
{{ partial "pub/meta.html" . -}}
{{ partial "blog/taxonomies.html" . -}}
  <div class="body">
{{ partial "content.html" .Content -}}
  </div>
{{ with .Params.challenge -}}
  {{ partial "stories/challenge.html" . -}}
{{ end -}}
  <div class="metadata">
{{ partial "pub/git.html" . -}}
  </div>
</article>
{{ partial "pub/pager.html" . -}}
{{ partial "staticman/comments.html" . -}}
{{ end }}
