{{ $repoLink := printf .Site.Params.GitFilePath .File.Path -}}
{{ $histLink := printf .Site.Params.GitFileHist .File.Path -}}
{{ with .GitInfo -}}
<div class="meta-line">
  {{- partial "utils/icon.html" "history" -}}&nbsp;<a href="{{ $histLink }}" target="_git">
    {{- i18n "pageHistory" . -}}
  </a>
</div>
{{ end -}}
<div class="meta-line">
  {{- partial "utils/icon.html" "code-branch" -}}&nbsp;<a href="{{ $repoLink }}" target="_git">
    {{- i18n "forkPage" -}}
  </a>
</div>
