<div class="metadata">
  <div class="meta-line">
    {{- partial "utils/icon.html" "stopwatch" -}}&nbsp;
    {{- .ReadingTime | i18n "readingTime" -}}
  </div>
  <div class="meta-line">
    {{- partial "utils/icon.html" "calendar-day" -}}
    &nbsp;<time datetime="{{ .Date.UTC.Format .Site.Params.dateTimeIsoFormat }}">
        {{- .Date.UTC.Format .Site.Params.DateTimeFormat -}}
    </time>
  </div>
  {{ with .Params.author -}}
  <div class="meta-line">
    {{- partial "utils/icon.html" "user-circle" -}}&nbsp;
    {{- . -}}
  </div>
    {{ if $.Params.license }}
  <div class="meta-line">
      {{- partial "licenses/compact-n-icons.html" ( dict "license" $.Params.license "Lang" $.Lang ) -}}
  </div>
    {{ end -}}
  {{ end -}}
  {{ $slug := substr (replace .RelPermalink "/" "-") 1 -1 -}}
  <div class="meta-line">
    {{- partial "utils/icon.html" "comment" -}}&nbsp;
    {{- $nbComments := 0  -}}
    {{ $nbCommentsLbl := "noComment"  -}}
    {{ $comments := index $.Site.Data.comments .Lang -}}
    {{ if $comments -}}
      {{ $comments = index $comments $slug }}
      {{ if $comments -}}
        {{ $nbComments = len $comments -}}
        {{ $nbCommentsLbl = "nbComments" -}}
      {{ end -}}
    {{ end -}}
    {{ i18n $nbCommentsLbl $nbComments -}}
  </div>
  {{ partial "translation/links.html" . -}}
</div>
