<div class="metadata">
  <div class="meta-line">
    {{- partial "utils/icon.html" "stopwatch" -}}&nbsp;
    {{- .ReadingTime | i18n "readingTimeShort" -}}
  </div>
  <div class="meta-line">
    {{- partial "utils/icon.html" "calendar-day" -}}
    &nbsp;<time datetime="{{ .Date.UTC.Format .Site.Params.dateIsoFormat }}">
      {{- .Date.UTC.Format .Site.Params.DateFormat -}}
    </time>
  </div>
  {{ with .Params.author -}}
  <div class="meta-line">
    {{ if $.Params.license -}}
      {{- partial "licenses/icons.html" ( dict "license" $.Params.license "Lang" $.Lang ) -}}
    {{ else -}}
      {{- partial "utils/icon.html" "user-circle" -}}
    {{ end -}}&nbsp;
    {{- . -}}
  </div>
  {{ end -}}
  {{ $slug := substr (replace .RelPermalink "/" "-") 1 -1 -}}
  <div class="meta-line">
    {{- partial "utils/icon.html" "comment" -}}&nbsp;
    {{ $nbComments := 0  -}}
    {{ $comments := index $.Site.Data.comments .Lang -}}
    {{ if $comments -}}
      {{ $comments = index $comments $slug }}
      {{ if $comments -}}
        {{ $nbComments = len $comments -}}
      {{ end -}}
    {{ end -}}
    {{ $nbComments -}}
  </div>
  {{ partial "translation/links.html" . }}
</div>
