<ul class="pager">
{{ with .PrevInSection -}}
  <li class="page-item previous">
    <a href="{{ .RelPermalink }}" title="{{ .Title }}">
      &mapstoleft;&nbsp;{{ i18n "previousInSection" .Title }}
    </a>
  </li>
{{ end -}}
{{ with .NextInSection -}}
  <li class="page-item next">
    <a href="{{ .RelPermalink }}" title="{{ .Title }}">
      {{ i18n "nextInSection" .Title }}&nbsp;&mapsto;
    </a>
  </li>
{{ end -}}
</ul>
