aside:not(.toc) {
    border: solid $separator-color;
    border-width: 1px 0;
    padding: 0px 10px;
    font-size: larger;
    text-align: center;

    @media (min-width: $min-desktop-width) {
        $aside-margin-h: 20px;
        $aside-margin-v: 10px;

        width: 50%;
        float: right;
        margin: 0 0 $aside-margin-v $aside-margin-h;

        &:nth-of-type(2n) {
            float: left;
            margin: 0 $aside-margin-h $aside-margin-v 0;
        }
    }
}
