blockquote {
    margin: 30px 0;
    padding: 0 20px;
    position: relative;
    border-left: 5px solid $accent-color;

    p:last-of-type {
        margin-bottom: 9px;
    }

    &::before {
        content: '\201D';
        position: absolute;
        top: -.15em;
        right: 0;
        font-size: 6em;
        font-style: italic;
        color: transparentize($accent-color, .75);
    }
    &::after {
        content: ' ';
        display: table;
        clear: both;
    }

    footer, cite {
        float: right;
        font-size: smaller;
        color: $accent-color;

        &::before {
            content: '\2015 ';
        }
    }
}
