.notice {
    background: $notice-back-color;
    color: $notice-text-color;
    a {
        color: $notice-text-color !important;
    }

    margin: 18px 0;
    padding: 22px 30px;

    :first-child {
        margin-top: 0;
    }

    :last-child {
        margin-bottom: 0;
    }

    .title {
        font-size: larger;
        font-weight: bold;
    }
}
