{{ if .Truncated -}}
<p>{{ replaceRE "^<p>|</p>$" "" .Summary | safeHTML }}</p>
<p><a href="{{ .RelPermalink }}" class="read-more">{{ i18n "readMore" }}</a></p>
{{ else -}}
  {{ .Content -}}
{{ end -}}
