<div class="taxonomies">
{{ if .Params.categories -}}
  {{ range .Params.categories -}}
    {{- $termUrl := printf "/%s/%s" "categories" (urlize .) -}}
    {{- $termPage := $.Site.GetPage $termUrl -}}
    {{- $title := default . $termPage.Title -}}
  <a href="{{ $termUrl }}/" title="{{ $title }}" class="term category" rel="tag">{{ $title }}</a>
  {{ end -}}
{{ end -}}
{{ if .Params.tags -}}
  {{- range .Params.tags -}}
    {{- $termUrl := printf "/%s/%s" "tags" (urlize .) -}}
    {{- $termPage := $.Site.GetPage $termUrl -}}
    {{- $title := default . $termPage.Title -}}
  <a href="{{ $termUrl }}/" title="{{ $title }}" class="term tag" rel="tag">{{ replace (title $title) " " "" }}</a>
  {{ end -}}
{{ end -}}
</div>
