kbd {
    font-family: $font-family-code;
    font-size: .85em;

    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2),
        0 2px 0 0 rgba(255, 255, 255, .7) inset;
    //color: #333;
    display: inline-block;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
}

pre, code {
    font-family: $font-family-code;
    font-feature-settings: "onum", "zero";
    color: $contrast-text-color;
}

pre {
    max-width: 100%;
    overflow-x: auto;
}
