#comments {
    & > h2, &> h3 {
        text-align: center;
    }
}

.comment {
    @include content();
    padding: $comment-mobile-text-padding-v $comment-mobile-text-padding-h;
    margin-bottom: $comment-mobile-text-padding-v / 2;

    & > h4 { margin-top: 0; }

    &.reply {
        margin-left: 10%;
    }
}

.comment-avatar {
    float: left;
    margin: 0 5px 5px 0;
}

.reply-btn {
    @include more-link();
}
