#staticman-form {
    padding: 0 $comment-mobile-text-padding-h;

    .replying-title {
        text-align: center;
        color: $contrast-text-color;
        display: none;
    }

    &.replying {
        .replying-title {
            display: block;
        }
    }

    .loading-tip,
    .success-tip,
    .error-tip {
        text-align: center;
        font-weight: 600;
        display: none;
    }

    .success-tip {
        color: $ok-color;
    }

    .error-tip {
        color: $ko-color;
    }

    &.loading {
        opacity: .7;
        pointer-events: none;
        .submitbar { display: none; }
        .loading-tip { display: block; }
    }

    &.success {
        * { display: none; }
        .success-tip { display: block; }
    }

    &.error {
        .error-tip { display: block; }
    }
}
