#foot {
    padding: $menu-padding-h $menu-padding-h ($menu-padding-h * 1.5);

    a:link {
        text-decoration: $link-decoration;
    }

    .lic .icon {
        font-size: 1.75em;
        text-decoration: none;
    }
    .lic-text {
        font-size: smaller;
    }
}
