$menu-padding-h: 20px;

.menu {
    background: $menu-back-color;
    color: $menu-text-color;

    a {
        color: $menu-text-color;
    }
}

@import "top";
@import "navigation";
@import "foot";

@media (min-width: $min-desktop-width) {
    @import "top-desktop";
    @import "navigation-desktop";
    @import "foot-desktop";
}
