#menu {
    margin-bottom: 10px;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }
    li {
        line-height: 1.25;
        a {
            color: $menu-text-color;
            &:link {
                text-decoration: none;
            }
        }
    }
}
