#top-menu {
    padding: 10px 30px 15px;
    font-size: larger;
    .logo {
        font-size: larger;
    }
}

#menu-btn {
    display: block;
    padding: 5px 10px 2px;
    background: rgba(white, 0.25);
    float: right;
}
