{{ $license := split ( lower .license ) " " -}}
{{ $licenseFamily := index $license 0 -}}
{{- if eq "cc" $licenseFamily -}}
  {{ $terms := index $license 1 }}
  {{ $valid := slice "by" "by-sa" "by-nd" "by-nc" "by-nc-sa" "by-nc-nd" }}
  {{ if in $valid $terms -}}
  {{ $version := index $license 2 -}}
  {{ $licenseUrl := printf "https://creativecommons.org/licenses/%s/%s/deed.%s" $terms $version .Lang -}}
<a href="{{ $licenseUrl }}" title="{{ .license }}" rel="license">
  {{- partial "utils/icon.html" "cc" -}}
  {{ range ( split $terms "-" ) -}}
    {{ partial "utils/icon.html" ( printf "cc-%s" . ) -}}
  {{ end -}}
</a>
  {{ else -}}
    {{ errorf "Invalid CC license <%q>" .license }}
  {{ end -}}
{{- else if eq "unsplash" $licenseFamily -}}
<a href="https://unsplash.com/license" title="{{ .license }}" rel="license">
  {{- partial "utils/icon.html" "unsplash" -}}
</a>
{{- else -}}
  {{ errorf "Not a CC license: <%q>" .license }}
{{- end -}}
