<section class="metadata">
  <div class="meta-line">
  {{ partial "utils/icon.html" "rss" }}&nbsp;
    <a href="index.xml">{{ i18n "rssFeed" }}</a>
  </div>
{{ partial "translation/links.html" . -}}
</section>
