/* Styling for hero pages (home, 404). */
.main {
    margin-bottom: 60px;
    font-size: $font-size-default * 2.4;
}

// Specific for home
.links {
    max-width: $max-content-width;
    margin: 30px auto;
    font-size: larger;
    display: flex;
    .item {
        flex: 1 0 auto;
    }
}
