/* The styling of the content, depending on the page's type. */
// The styling
#main {
    max-width: $max-page-width;
    margin: 0 auto 20px;

    // Elements common to all non-article pages
    &.home, &.error, &.section, &.taxonomy, &.taxonomyTerm {
        padding: 50px 3%;
        text-align: center;

        h1 {
            font-size: $font-size-default * 3.6;
        }
    }

    // Customization of the home and error pages
    &.home, &.error {
        @import "home";
    }

    // Customization of list screens
    &.section, &.taxonomy, &.taxonomyTerm {
        .entries {
            text-align: initial;
        }

        .header { font-size: larger; }
        & > .metadata { margin: 18px 0; }
    }

    // Customization of all publications
    &.page:not(.home):not(.error) {
        max-width: $max-content-width;
    }

    // Specific to stories
    &.page.stories {
        @import "stories/lettrine";
    }
}

@import "pagination";
@import "texts";
@import "text-lists";
//@import "toc";
@import "banners";
@import "comments";
