.pagination, .pager {
    list-style: none;
    padding: 0;
}

.pagination .page-item {
    display: inline;
    padding: 0 5px;

    &.disabled a {
        color: $muted-text-color;
    }

    &.active a {
        color: $link-contrast-color;
        font-weight: bold;
    }
}

.pager {
    margin: 10px 0;

    .page-item {
        // Layout
        padding: .5em 1em;
        margin-bottom: 10px;

        // Background
        background: $accent-color;

        // Font styling
        font-size: 1.2em;
        font-weight: 500;
        a {
            color: $menu-text-color;
        }
    }

    .next {
        text-align: right;
    }

    @media (min-width: $min-desktop-width) {
        display: flex;

        .previous {
            margin-right: 5px;
            text-align: left;
        }
        .next {
            margin-left: 5px;
            justify-content: flex-end;

            &:first-child {
                margin-left: 50%;
            }
        }

        .page-item {
            flex: 1 0 0;
            display: flex;
            align-items: center;
            max-width: 50%;
        }
    }
}
