.text {
    @include content();
    padding: $page-mobile-text-padding-v $page-mobile-text-padding-h;
    width: 100%;

    .title {
        margin-bottom: 15px;
        h1 {
            margin: 0.2em 0 0;
        }
        .subtitle {
            color: $contrast-color;
        }
    }

    strong {
        color: $contrast-color;
    }

    @import "texts/blockquotes";
    @import "texts/asides";
    @import "texts/notices";
}
