.entries {
    column-count: 1;
    column-gap: 1em;
    @media (min-width: $min-desktop-width) {
        column-count: 2;
    }
    @media (min-width: $wide-desktop-width) {
        column-count: 3;
    }
    .text {
        display: inline-block;
        margin: 0 0 1em;
        padding: 20px;

        h2 {
            margin: 0;
        }
    }
}
