.toc {
    font-size: .7em;

    position: absolute;
    right: 0;

    ul {
        list-style: none;
        padding-left: 0;
    }

    ul ul ul {
        padding-left: 2em;
    }

    a {
        text-decoration: none;
    }
}
