/* This file sets basic styles for every components we use. */
* {
    box-sizing: border-box;
}

body {
    background: $back-color-default;
    font: $font-size-default $font-family-main;
    color: $default-text-color;
}

// All the basic stuff we need everywhere, with basic styling
@import "basics/titles";
@import "basics/links";
@import "basics/img";
@import "basics/buttons";
@import "basics/lists";
@import "basics/separators";
@import "basics/description-lists";

// Code (and alikes) branding
@import "code/code";
@import "code/chroma";

// Branding, with our classes
// Links
@import "branding/links";
@import "branding/footnotes";
@import "branding/metadata";
@import "branding/taxonomies";

// Forms
@import "branding/forms";


@media (min-width: $min-desktop-width) {
    @import "basics/description-lists-wide";
}

