form {
    label {
        display: block;
    }

    input[type=text], input[type=email], input[type=url], textarea {
        width: 100%;
        border: solid 1px lightgray;
        border-radius: 0;
    }

    .textfield {
        margin: 10px 0;
    }

    .submitbar {
        text-align: center;
    }

    .opt, .help-text {
        font-style: italic;
        font-size: smaller;
    }

    .opt::before {
        content: '– ';
    }

    .help-text {
        display: block;
    }
}
