<div class="notice">
  <p class="title">{{ i18n "storyChallenge" . }}</ps>
{{ with .rules -}}
  {{ $nbRules := len . -}}
  <h4>{{ i18n "storyChallengeRules" $nbRules }}</h4>
  {{ if gt $nbRules 1 -}}
  <ul>
    {{ range . -}}
    <li>{{ markdownify . | safeHTML }}</li>
    {{ end -}}
  </ul>
  {{ else -}}
    {{ range . -}}
    <p>{{ markdownify . | safeHTML }}</p>
    {{ end -}}
  {{ end -}}
{{ end -}}
</div>
