{{ $original := .Page.Resources.GetMatch .Destination -}}
{{ $resized := slice -}}
{{ if $original -}}
  {{ $resized = partial "utils/resize-image.html" $original -}}
{{ end -}}
{{ $link := gt $original.Width 900 -}}
{{ if $link -}}
<a href="{{ $original.RelPermalink | safeURL }}">
{{ end -}}
{{ if eq (len $resized) 0 -}}
  <img src="{{ $original.RelPermalink | safeURL }}" alt="{{ .Text }}"{{ with .Title}} title="{{ . }}"{{ end }}>
{{ else -}}
  <picture>
    <source srcset="{{ delimit $resized ", " }}">
    <img src="{{ $original.RelPermalink | safeURL }}" alt="{{ .Text }}"{{ with .Title}} title="{{ . }}"{{ end }}>
  </picture>
{{ end -}}
{{ if $link -}}
</a>
{{ end -}}
