<figure{{ with .Get "class" }} class="{{ . }}"{{ end }}>
{{- $original := .Page.Resources.GetMatch ( .Get "src" ) -}}
{{ $resized := slice -}}
{{ if $original -}}
  {{ $resized = partial "utils/resize-image.html" $original -}}
{{ end -}}
{{ $picture := gt (len $resized) 0 }}
{{- if .Get "link" -}}
  <a href="{{ .Get "link" }}"{{ with .Get "target" }} target="{{ . }}"{{ end }}{{ with .Get "rel" }} rel="{{ . }}"{{ end }}>
{{- else if $picture -}}
  <a href="{{ $original.RelPermalink | safeURL }}">
{{- end }}
{{- if $picture -}}
  <picture>
    <source srcset="{{ delimit $resized ", " }}">
{{- end }}
    <img src="{{ .Get "src" }}"
         {{- if or (.Get "alt") (.Get "caption") }}
         alt="{{ with .Get "alt" }}{{ . }}{{ else }}{{ .Get "caption" | markdownify| plainify }}{{ end }}"
         {{- end -}}
         {{- with .Get "width" }} width="{{ . }}"{{ end -}}
         {{- with .Get "height" }} height="{{ . }}"{{ end -}}
    > <!-- Closing img tag -->
{{ if $picture }}  </picture>{{ end }}
{{ if or (.Get "link") $picture }}  </a>{{ end -}}
{{- if or (or (.Get "title") (.Get "caption")) (.Get "attr") }}
  <figcaption>
{{ with (.Get "title") -}}
    <h4>{{ . }}</h4>
{{- end -}}
{{- if or (.Get "caption") (.Get "attr") -}}<p>
  {{- .Get "caption" | markdownify -}}
  {{- with .Get "attrlink" }}
    <a href="{{ . }}">
  {{- end -}}
  {{- .Get "attr" | markdownify -}}
  {{- if .Get "attrlink" }}</a>{{ end }}</p>
  {{- end }}
  </figcaption>
{{- end }}
</figure>
