<section id="comments">

  {{- $slug := substr (replace .RelPermalink "/" "-") 1 -1 -}}

  {{ $comments := index $.Site.Data.comments .Lang -}}
  {{ if $comments -}}
    {{ $comments := index $comments $slug -}}
    {{ if $comments -}}
  <h2>{{ i18n "nbComments" (len $comments) }}</h2>

      {{ range $comments -}}
        {{ if not .replyThread -}}
          {{ $.Scratch.Set "threadID" ._id -}}
          {{ $.Scratch.Set "previousID" ._id -}}
          {{ $.Scratch.Set "hasReplies" false -}}
  <article id="{{ ._id }}" class="comment">
          {{ partial "staticman/comment.html"  (dict "comment" . "Site" $.Site) -}}
          {{ range $comments -}}
            {{ if eq .replyThread ($.Scratch.Get "threadID") -}}
              {{ $.Scratch.Set "hasReplies" true -}}
    <a class="reply-btn" href="#comment-form" data-comment="{{ $.Scratch.Get "previousID" }}" data-thread="{{ .replyThread }}">{{ i18n "replyToThread" }}</a>
  </article>
  <article id="{{ ._id }}" class="comment reply">
              {{ partial "staticman/comment.html" (dict "comment" . "Site" $.Site) -}}
              {{ $.Scratch.Set "previousID" ._id -}}
            {{ end -}}
          {{ end -}}
    <a class="reply-btn" href="#comment-form" data-comment="{{ $.Scratch.Get "previousID" }}" data-thread="{{ $.Scratch.Get "threadID" }}">
          {{- if ($.Scratch.Get "hasReplies") }}{{ i18n "replyToThread" }}{{ else }}{{ i18n "replyToComment" }}{{ end -}}
    </a>
  </article>
        {{ end -}}
      {{ end -}}
  <h3>{{ i18n "writeYourComment" }}</h3>
    {{ else -}}
  <h2>{{ i18n "noCommentYet" }}</h2>
    {{ end -}}
  {{ else -}}
  <h2>{{ i18n "noCommentYet" }}</h2>
  {{ end -}}

  <form id="staticman-form" method="post" action="{{ .Site.Params.staticman.api }}">
    <h4 class="replying-title">{{ i18n "replyingTo" }} <span id="replying-to"></span></h4>

    <div class="success-tip">{{ i18n "commentSuccess" }}</div>
    <div class="error-tip">{{ i18n "commentError" }}</div>

    <input type="hidden" name="options[slug]" value="{{ $slug }}">
    <input type="hidden" name="options[parent]" value="">

    {{ if .Site.Params.staticman.recaptcha }}
    <input type="hidden" name="options[reCaptcha][siteKey]" value="{{ .Site.Params.staticman.recaptcha.sitekey }}">
    <input type="hidden" name="options[reCaptcha][secret]"  value="{{ .Site.Params.staticman.recaptcha.secret }}">
    {{ end }}

    <input type="hidden" name="fields[replyThread]" value="">

    <div class="textfield">
      <label for="comment-ipt">
        {{ i18n "yourComment" }}
        <span class="help-text">{{ i18n "markdownHelp" . | .RenderString }}</span>
      </label>
      <textarea id="comment-ipt" name="fields[comment]"></textarea>
    </div>

    <div class="textfield">
      <label for="name-ipt">{{ i18n "yourName" }}</label>
      <input id="name-ipt" name="fields[name]" type="text"/>
    </div>

    <div class="textfield">
      <label for="email-ipt">
        {{ i18n "yourEmail" }}
        <span class="help-text">{{ i18n "wontBeDisplayed" }}</span>
      </label>
      <input type="email" id="email-ipt" name="fields[email]"/>
    </div>

    <div class="textfield">
      <label for="website-ipt">{{ i18n "yourWebsite" }} <span class="opt">{{ i18n "optional" }}</span></label>
      <input type="url" id="website-ipt" name="fields[website]"/>
    </div>

    {{ if .Site.Params.staticman.recaptcha -}}
    <div class="g-recaptcha" data-sitekey="{{ .Site.Params.staticman.recaptcha.sitekey }}"></div>
    {{- end }}

    <div class="loading-tip">{{ i18n "commentLoading" }}</div>

    <div class="submitbar">
      <input type="submit" class="primary" value="{{ i18n "submitComment" }}" />
      <input type="reset" value="{{ i18n "resetComment" }}" />
    </div>
  </form>
</section>
