@mixin content() {
    background: $back-color-content;
}

@mixin evidenced-link() {
    &:link,
    &:visited {
        color: $link-color;
        text-decoration: $link-decoration;
    }
    &:hover,
    &:active {
        text-decoration-style: solid;
    }
}

@mixin more-link() {
    &:link {
        text-decoration: none;
    }
    &::after {
        content: ' ›';
    }
}
