/* Responsive layout breakouts */
$min-desktop-width: 768px;
$wide-desktop-width: 1400px;

/* Sizes limit */
$max-content-width: 900px;
$max-page-width: 1920px;

/* General styling */
$accent-color: #027;
$contrast-color: #b70;
$default-text-color: #333;

$ok-color: #080;
$ko-color: #800;
$neutral-color: lighten($default-text-color, 20%);

$muted-text-color: $neutral-color;
$contrast-text-color: darken($contrast-color, 10%);

$link-color: lighten($accent-color, 15%);
$link-contrast-color: saturate($contrast-color, 15%);
$link-decoration: dotted underline;

$back-color-content: #eee;
$back-color-default: #ddd;
$separator-color: $back-color-default;
$button-back-color: lighten($accent-color, 70%);

$font-family-main: Ubuntu, Geneva, Verdana, Tahoma, sans-serif;
$font-family-title: 'Ubuntu Condensed', 'Open Sans Condensed', 'Dejavu Sans Condensed', 'Arial Narrow', 'Segoe UI', 'Helvetica Neue', Helvetica, Verdana, Arial, sans-serif;
$font-family-code: 'Fira Code', Monoid, 'Ubuntu Mono', 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
$font-size-default: 18px;
$font-size-titles: 2.5em 2em 1.5em 1.25em 1.1em 1em;

$menu-back-color: #555;
$menu-text-color: #fff;

$notice-back-color: $menu-back-color;
$notice-text-color: $menu-text-color;

/* Some layouting */
// Padding on pages
$page-mobile-text-padding-h: 5%;
$page-mobile-text-padding-v: $page-mobile-text-padding-h / 2;

// Padding for comments
$comment-mobile-text-padding-h: $page-mobile-text-padding-h;
$comment-mobile-text-padding-v: $comment-mobile-text-padding-h / 2;
