input[type=button], input[type=submit], input[type=reset], button {
    border: solid 1px darken($button-back-color, 10%);
    border-radius: 0;
    background-color: $button-back-color;
    color: darken($button-back-color, 40%);
    padding: 5px 15px;

    &.primary {
        border-color: lighten($contrast-color, 10%);
        background-color: $contrast-color;
        color: lighten($contrast-color, 60%);
    }
}
