img {
    max-width: 100%;
}

figure {
    max-width: 100%;
    text-align: center;
    figcaption {
        font-size: smaller;
        p:first-child {
            margin-top: 5px;
        }
    }
}
