/* General link styling */
// footnote-related classes are required for exceptions
a,
.footnote-ref a {
    &:link,
    &:hover,
    &:active,
    &:visited {
        color: $accent-color;
        text-decoration: none;
    }
}

// Make links in text more obvious
p a,
.body li a:not(.footnote-return) {
    @include evidenced-link();
}
