h1, h2, h3, h4, h5, h6 {
    font-family: $font-family-title;
    font-weight: 600;
    clear: both;
    & .anchor {
        font-weight: normal;
        display: none;
    }
    &:hover {
        & .anchor {
            display: inline-block;
        }
    }
}

// Resize titles
@for $i from 1 through length($font-size-titles) {
  $size: nth($font-size-titles, $i);
  h#{$i} {
    font-size: $size;
  }
}
