{{ define "main" }}
{{ with .Params.banner -}}
<div class="banner">
  <div class="banner-container">
    <img src="{{ .src }}" {{- with .alt }} alt="{{.}}"{{ end }} />
  </div>
</div>
{{ end -}}
<article class="text" role="main">
  <div class="title">
    <h1>{{ .Title | .RenderString }}</h1>
{{ with .Params.subtitle -}}
    <span class="subtitle">{{ . | $.RenderString }}</span>
{{ end -}}
  </div>
{{ partial "pub/meta.html" . -}}
{{ partial "blog/taxonomies.html" . -}}
  <div class="body">
{{ partial "content.html" .Content -}}
  </div>
  <div class="metadata">
{{ with .Params.banner -}}
  {{ if .by -}}
    <div class="meta-line">
    {{- partial "utils/icon.html" "image" }}&nbsp;
    {{- i18n "coverBy" ( partial "utils/author.html" ( dict "Author" .by "Link" .link "Data" $.Site.Data ) ) | safeHTML }}
    {{ with .license -}}
      ({{ partial "licenses/compact.html" ( dict "license" . "Lang" $.Lang ) }})
    {{ end -}}
    </div>
  {{ end -}}
{{ end -}}
{{ partial "pub/git.html" . -}}
  </div>
</article>
{{ partial "pub/pager.html" . -}}
{{ partial "staticman/comments.html" . -}}
{{ end }}
