{{ define "main" }}
<h1 id="error-emoji" class="page-title"></h1>
<div class="main">
  <p><span id="curse"></span>&nbsp;{{ i18n "pageNotFound" }}</p>
</div>
<div class="links">
  <a href="{{ .Site.BaseURL }}">{{ i18n "goBackHome" }}</a>
</div>
{{ end }}
{{ define "final-script" }}
<script>
  function insertRandomElement(target, values) {
      var container = document.querySelector('#' + target);
      var value = values[Math.floor(Math.random() * values.length)];
      container.appendChild(document.createTextNode(value));
  }

  insertRandomElement('error-emoji', [
    '\\(o_o)/', '(o^^)o', '(˚Δ˚)b', '(^-^*)', '(≥o≤)', '(^_^)b', '(·_·)',
    '(=\'X\'=)', '(>_<)', '(;-;)', '\\(^Д^)/'
  ]);
  insertRandomElement('curse', [
    {{ range $sequence :=  (seq 1 4) }}
    '{{ printf "curse%d" $sequence | i18n }}',
    {{ end }}
  ]);
</script>
{{ end }}
