{{ define "main" }}
<h1>{{ .Site.Title }}</h1>
<div class="main">{{ .Content }}</div>
<div class="links">
  {{ range .Site.Menus.main.ByWeight -}}
  <div class="item">
    <a title="{{ default .Name .Title }}" href="{{ .URL }}">
    {{- .Name -}}
    </a>
    {{ if .HasChildren -}}
    (
      {{- $join := false -}}
      {{- range .Children.ByWeight -}}
        {{- if $join }}
    |
        {{ else -}}
          {{- $join = true -}}
        {{- end -}}
      <a title="{{ default .Name .Title }}" href="{{ .URL }}">
        {{- .Name -}}
      </a>
      {{- end -}}
    )
    {{ end -}}
  </div>
  {{ end -}}
</div>
{{ if .Site.IsMultiLingual -}}
<div class="links">
  {{ $lang := .Site.Home.Lang -}}
  {{ range .Site.Home.AllTranslations -}}
    {{ if not (eq $lang .Lang) -}}
  <a href="{{ .RelPermalink }}" lang="{{ .Lang }}" title="{{ default .Lang .Site.Language.LanguageName }}" class="item" ref="alternate">
      {{- default .Lang .Site.Language.LanguageName -}}
  </a>
    {{ end -}}
  {{ end -}}
</div>
{{ end -}}
{{ end }}
